
.background{
    //background-image: url('../../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

    .news_box{
        width: 110vh;
        border-bottom: black;
        margin-left: 60vh;
        margin-top: 5vh;
        
    }
}